*{
    box-sizing: border-box;
    /* width: 100%; */
    padding: 0;
    margin: auto;
    
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

nav{
    background-color: #1b1f23;
    font-family: sans-serif;
    width: 100%;
    clear: both;

    display: table;
}

    nav .container-nav #imagenes1{
    float: left;

}

    nav .container-nav .numero-tlf ul li{
    font-size: 14px;
    font-stretch: condensed;
    font-weight: bolder;    
    letter-spacing: 1px;    
    text-decoration: none;    
    list-style: none;

    float: left;
    
}

        nav .container-nav ul li a{

        text-decoration: none;
        color: rgb(191, 191, 191);
    
        }

    nav .container-nav .imagenes2{
    background-color: turquoise;
    }

    nav .container-nav .login- ul li{

        font-size: 14px;
        font-stretch: condensed;
        font-weight: bolder;    
        letter-spacing: 1px;    
        text-decoration: none;    
        list-style: none;

        float: right;
    }

    nav .container-nav .logo-user{
        float: right;
        margin-right: 15px;
        margin-top: 10px;
    }

    #contenedor-wildcat{
        width: 100%;

    }

    #primera-seccion{
    display: -webkit-inline-flex;
    font-family: sans-serif;
    width: 100%;
}

        #contenido1{
            text-align: center;
            margin: auto;
            width: 50%; 
        }

        #WILDCAT-img{
            text-align: right;
            width: 50%;
        }

        #WILDCAT-img:hover {
            background-color: #ffffff75;
        }

        #contenedor-sierra{
            width: 100%;
            background-color: #e7e7e7;
            display: flex;
        }

    #segunda-seccion{
    display: flex;
    font-family: sans-serif;
    width: 100%;
}

        #contenido2{
            text-align: center;
            margin: auto;
            width: 50%; 
            }

        #SIERRA-img{
            text-align: left;
            margin: auto;
            width: 50%;
            }


    #Botones{
    align-content: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 7000px;
    border: 1px solid black;
    width: 140px;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
}

    #monologo{
    
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    color: #333333;
    margin: 100px  0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex:auto;
}

    #palitow {

            width: 100%;
            margin-bottom: 20px;
            display: block;
            border: 0;
            border-color: #aaa;
            border-bottom-width: 1px;
            border-bottom-style: solid;
    }

#contenedor-real-ones{
        width: 100%;

        display: flex;
    }

    #FOR-THE-REAL-ONES-img {
    text-align: right;
    }

    #tercera-seccion{
    display: flex;
    font-family: sans-serif;
    width: 100%;
    
}


        #contenido3{
            font-family: sans-serif;
            text-align: center;
            width: 50%;
            margin: auto;
        }

        #FOR-THE-REAL-ONES-img{
            text-align: right;
            width: 50%;
            object-fit: contain;
        }


    #Boton3{
    align-content: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700px;
    border: 1px solid black;
    width: 300px;
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
    height: 20px;
}

    .lista-productos{

    background-color: hsl(0, 0%, 90%);
    align-items: center;
    display: flex;   
    justify-content: space-between; 
    width: 100%;

}

    footer{
    background-image: url(https://cdn.shopify.com/s/files/1/0593/8853/files/footberbg_b51044c3-e485-4061-b7d2-4856bb38d1e1_1400x.jpg?v=1587157520)
}

    .otros-servicios{
        font-family: sans-serif;
        color: #aaa;
        margin-bottom: 1em;
        line-height: 1.1;
    }

    .copyright{
    color: #7f8c8d;
    padding-left: 50px;
}

    .footer{
        size: 0ch;
    }

@media screen and (max-width: 1200px){
    #contenido1{
        width: 500px;
    }

}

